.container {
  background-color: aliceblue;
  width: 600px;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

.counter {
  display: flex;
  justify-content: center;
}

.sugarShop {
  display: flex;
  justify-content: center;
  width: 400px;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.sugar-but {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

button[type="text1"] {
  width: 150px;
  background-color: #36b03c;
  color: white;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}

.childrens {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.children1 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.children2 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.children3 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.EatOrDie1 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.EatOrDie2 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.EatOrDie3 {
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.container-sum {
  display: flex;
  justify-content: center;
}

.Sum {
  display: flex;
  justify-content: center;
  width: 400px;
  background-color: #36b03c;
  color: white;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 30px;
}
